<form method="POST" action="/profile/{{id}}">
<p>
Name:
</p>
<p>
<input type="text" name="name">
<input type="submit" name="submit">
</p>
<p>
Id:
</p>
<p>
<input type="text" name="id">
<input type="submit" name="submit">
</p>
<p>
Email:
</p>
<p>
<input type="text" name="email">
<input type="submit" name="submit">
</p>
</form>