<h1>New user</h1>
<form method="POST" action='/user-form'>
<p>
Name:
</p>
<p>
<input type="text" name="name">
</p>
<p>
Email:
</p>
<p>
<input type="text" name="email">
<input type="submit">
</p>
</form>