<h1>New blog post</h1>
<form method="POST" action='/new-blog-post/{{userId}}'>
<p>
Title:
</p>
<p>
<input type="text" name="title">
</p>
<p>
Entry:
</p>
<p>
<input type="text" name="entry">
<p>
Image:
</p>
<p>
<input type="text" name="image">
<input type="submit">
</p>
</form>