<h1>Make new profile</h1>
<form method="POST" action='/new-profile'>
<p>
Image url:
</p>
<p>
<input type="text" name="profile_image">
</p>
<p>
Page url:
</p>
<p>
<input type="text" name="url">
<input type="submit">
</p>
</form>