<h1>Make new profile</h1>
<form method="POST" action='/profileform'>
<p>
Image url:
</p>
<p>
<input type="text" name="imgurl">
</p>
<p>
Page url:
</p>
<p>
<input type="text" name="pageurl">
<input type="submit">
</p>
</form>